header {
  background-color: tomato;
  width: 100%;
  padding: 1.5em;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.beer-title {
  text-align: center;
}

.beer-img {
  max-height: 300px;
  width:auto;
}

.intro-text {
  text-align: center;
  font-style: italic;
  font-size: 1.5em;
}

#beer-display {
  margin: 3em;
  font-size: 0.8em;
  max-width: 300px;
  min-width: 300px;
}
